.hidden {
  display: none;
}

.successMessage {
  color: var(--green);
}

.logo {
  padding-top: 10px;
  max-width: 300px;
}

.logo a {
  display: inline-block;
}

header svg {
  width: 100%;
}

.logo svg {
  width: 100%;
  fill: var(--fg);
}

.logo:hover svg {
  fill: var(--purple);
}

#logoAndControls {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  gap: 24px;
}

#controls, #contact {
  display: grid;
  align-content: center;
  grid-template-columns: 40px 40px 40px;
  gap: 12px;
}

#controls svg, #contact svg {
  display: inline-block;
  width: 40px;
}

#contact svg {
  fill: var(--purple);
}

#rssLink svg {
  fill: var(--orange);
}

#rssLink:hover svg {
  fill: var(--purple);
}

settings-menu .gearAnchor {
  fill: var(--fg);
}

settings-menu .gearAnchor:hover {
  fill: var(--purple);
}

settings-menu {
  position: relative;
}

#options {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid var(--fg);
  margin: 0;
  padding: 10px;
  background-color: var(--bg);
  border-radius: 4px;
  list-style: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

settings-menu.open {
}

settings-menu.open #options {
  display: block;
}

#topNav {
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--fg);
}

#topNav ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0;
}

#topNav li {
  flex-grow: 1;
  flex-shrink: 1;
}

#topNav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 4px;
  color: var(--blue);
  border: 2px solid var(--bg);
}

#topNav svg {
  display: none;
}

#topNav li a:hover,
#topNav li.active a {
  text-decoration: none;
}
#topNav li.active a,
#topNav li.active a:hover,
#topNav li.active a:focus,
#topNav li.active a:active {
  background-color: var(--blue);
  border: 2px solid var(--blue);
  color: var(--bg);
  cursor: default;
}

#topNav li a:hover {
  border: 2px solid var(--purple);
  color: var(--purple);
}

#topNav li:not(.active) a:hover svg { 
  fill: var(--purple);
}

#topNav li.active a:hover svg, #topNav li.active a svg { 
  fill: var(--bg);
}

#topNav li:nth-of-type(1) {
  --button-color: var(--aqua);
}
#topNav li:nth-of-type(2) {
  --button-color: var(--red);
}
#topNav li:nth-of-type(3) {
  --button-color: var(--green);
}
#topNav li:nth-of-type(4) {
  --button-color: var(--blue);
}

#topNav li svg {
  fill: var(--button-color);
}

#topNav li.active a, #topNav li.active a:hover {
  background-color: var(--button-color);
  border-color: var(--button-color);
}

@media screen and (min-width: 400px) {
  #topNav svg {
    display: block;
    max-width: 20px;
  }
  #topNav li a {
    gap: 10px;
  }
}
@media screen and (min-width: 600px) {
  #topNav svg {
    display: block;
    max-width: 30px;
  }
  #topNav li a {
    gap: 10px;
  }
}

@media screen and (min-width:1000px) {
  .container > header {
    grid-template-rows: span 2;
  }
  header .innerWrapper {
    position: fixed;
    top: 0;
  }
  #topNav svg {
    display: block;
    max-width: 40px;
  }
  #topNav li a {
    gap: 20px;
  }
}
