@font-face {
    font-family: 'Adwaita Sans';
    src: url('/fonts/AdwaitaSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adwaita Sans';
    src: url('/fonts/AdwaitaSansItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: "Adwaita Sans", "Open Sans", "sans-serif", "Helvetica", "Arial";
  min-height: 100%;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  color: var(--blue);
}
a:hover {
  color: var(--purple);
  text-decoration: none;
}
a:focus {
  color: var(--blue);
}

.lg-only {
  display: none;
}

pre {
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
}

.highlight {
  overflow: scroll;
}

footer .h-card {
  display: flex;
  border: 1px solid var(--gray-high);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
  margin-bottom: 32px;
}

.minihcard {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  padding: 0;
  margin: 0;
  border: 0 none;
  box-shadow: none;
  vertical-align: -5px;
}

.minihcard img {
  min-width: 25px;
  border-radius: 50%;
}

.minihcard span {
  padding-left: 8px;
  white-space: nowrap;
}

.p-location {
  display: block;
}

.imgContainer {
  min-width: 120px;
  flex-basis: 120px;
  display: flex;
  align-content: center;
}
.imgContainer .u-logo {
  align-self: center;
  border-radius: 50%;
}

.txtContainer {
  padding-left: 10px;
}
.txtContainer p {
  margin-top: 0;
}

@media screen and (max-width: 340px) {
  .h-card {
    flex-direction: column;
  }
  .imgContainer {
    width: 90px;
    flex-basis: 90px;
    margin-bottom: 10px;
  }
}


article {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-low);
  margin-bottom: 24px;
}
article header {
  padding: 20px 0;
  width: 100%;
  align-items: top;
}
article header h2 {
  margin: 0;
}
article header time {
  display: block;
}

.metaTags ul {
  display: inline;
  margin: 0;
  padding: 0;
}

.metaTags li {
  display: inline;
  list-style: none;
}

/* SOCIALS */
.socials {
  margin: 0;
  margin-top: 12px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 12px;
  list-style: none;
}
.socials li {
  width: 50%;
}
@media screen and (min-width: 540px) {
  .socials li {
    width: 25%;
  }
}
.socials a.revealButton {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  border: 2px solid var(--fg);
  border-radius: 8px;
}
.socials a.revealButton:hover {
  background-color: var(--fg);
  color: var(--purple-low);
}
html {
  height: 100%;
}

.container {
  height: 100vh;
  margin: 0 auto;
  padding: 0 10px 0;
  max-width: calc(100vw - 20px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.container > main h1:first-of-type {
  margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 800px;
  }
}

img,
video {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

fieldset {
  border-radius: 4px;
  margin-bottom: 4px;
}

.closeMenuButton {
  display: block;
  text-align: center;
  padding: 5px;
  background-color: var(--blue);
  color: var(--bg);
  border-radius: 4px;
  margin: 8px 2px 2px;
  text-decoration: none;
}

.closeMenuButton:hover {
  background-color: var(--blue-low);
  color: var(--fg);
}

.readMore {
  margin: 24px 0 24px;
}

.tags {
  font-size: 24px;
}

.mentionsSections {
  display: grid;
}

.mention {
  padding: 10px 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
}

.wmContent > p:first-of-type{
  margin-top: 0;
}

.wmPhoto {
  max-width: 100px;
}

.wmPhoto img {
  border-radius: 50%;
  overflow:hidden
}

.h-event {
  margin-bottom: 16px;
}

.button {
  padding: 10px 24px;
  font-weight: bold;
  background-color: var(--blue);
  color: var(--bg);
  text-decoration: none;
  border-radius: 4px;
}

.button:hover, .button:focus {
  padding: 8px 22px;
  background-color: var(--bg);
  color: var(--purple);
  border: 2px solid var(--purple);
}

.h-entry li {
  margin-bottom: 5px;
}

.h-entry li p {
  margin: 0;
}

.h-entry li ul {
  margin-top: 5px;
}



@media screen and (min-width:1000px) {
  .container {
    max-width: 1180px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr min-content;
    gap: 40px;
  }
  footer {
    grid-column: 2;
  }
  #logoAndControls {
    grid-template-columns: 1fr;
  }
  #controls {
    grid-template-columns: 1fr;
    gap: 0;
  }
  #controls > a, settings-menu > a {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    gap: 20px;
    padding: 10px;
  }
  settings-menu > a {
    width: auto;
  }
  #controls svg {
    display: inline-block;
  }
  .container > header {
    position: relative;
    grid-row: span 2;
  }
  .container > header::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: var(--fg);
  }
  #topNav {
    padding: 0;
    border: 0 none;
  }
  #topNav ul {
    grid-template-columns: 1fr;
  }
  #topNav li a {
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  #topNav svg {
    max-width: 40px;
    display: inline-block;
  }
  .lg-only {
    display: inherit;
  }
}
