<footer>
  <div class="h-card">
    <div class="imgContainer">
      <img class="u-logo" src="/images/zephy.jpg" alt="Zephyr Prusinski" loading="lazy"/>
    </div>
    <div class="txtContainer">
      <p class="p-nickname"><a href="{{ .Site.BaseURL }}">Zephnetdotbiz</a></p>
      <p class="p-note">
        <span class="p-name">Zephyr Prusinski</span> (he/him) is a South
        Philly-based nerd. He loves web standards and accessibility, hardware
        projects, and making music with livecoding and trackers.
      </p>
      <div>
        <a href="https://twitter.com/zephnetdotbiz">Twitter</a> |
        <a href="https://instagram.com/zephnetdotbiz">Instagram</a> |
        <a href="https://soundcloud.com/zazzyzeph">SoundCloud</a> |
        <a rel="me" href="https://github.com/zazzyzeph">Github</a>
      </div>
    </div>
  </div>
</footer>
