<footer>
  <div class="h-card">
    <div class="imgContainer">
      <img class="u-logo" src="/images/zephy.jpg" alt="Zephyr Prusinski" />
    </div>
    <div class="txtContainer">
      <p class="p-nickname"><a href="{{ .Site.BaseURL }}">Zephnetdotbiz</a></p>
      <p class="p-note"><span class="p-name">Zephyr Prusinski</span> is a South Philly-based nerd. Love 2 talk web accessibility, privacy, plants, hackery, and synthesizers.
      <div>
        <a href="https://twitter.com/zephnetdotbiz">Twitter</a> | <a href="https://instagram.com/zephnetdotbiz">Instagram</a> | <a href="https://soundcloud.com/zazzyzeph">SoundCloud</a> | <a rel="me" href="https://github.com/zazzyzeph">Github</a>
      </div>
    </div>
  </div>
</footer>
