<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script>
    if (window.localStorage.getItem("schemePref")) {
      document.documentElement.dataset.schemePref =
        window.localStorage.getItem("schemePref");
    }
  </script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script type="text/javascript" src="/js/script.js"></script>
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link rel="micropub" href="https://zephnet.biz/micropub" />
  <link rel="webmention" href="https://webmention.io/zephnet.biz/webmention" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  {{ with .OutputFormats.Get "rss" }}
    {{ printf `
      <link rel=%q type=%q href=%q title=%q />
      ` .Rel .MediaType.Type .Permalink site.Title | safeHTML
    }}
  {{ end }}
  {{ $title
    := print .Site.Title " | " .Title
  }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
