{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat :=
  .Site.Params.dateFormat | default "Jan 2, 2006"
}}
Posted
<time class="dt-published" datetime="{{ .Date }}">
  {{ .PublishDate.Format $dateFormat }}
</time> by <a class="p-author h-card minihcard" href="https://zephnet.biz"><img class="u-logo" alt="photo of a blonde man with short hair and a mustache" src="https://zephnet.biz/images/zephy.jpg"/>Zephyr Prusinski</a>
{{ with .Params.tags }}
  <div class="metaTags">
    <span>Tags:</span>
    <ul>
      {{ range . }}
        {{ $href := print (absURL "tags/")
          (urlize .)
        }}
        <li><a rel="category tag" class="p-category" href="{{ $href }}">#{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}
