{{ range .pages }}
  <article class="h-{{ .Params.type | default "entry" }}">
    <header>
      <div>
        <h2 itemprop="name headline" class="post-title p-name">
          <a class="u-url" href="{{ .RelPermalink }}">
            {{ if eq .Params.type "event" }}
              <span role="img" aria-label="Calendar Icon">📅</span>
            {{ end }}{{ .Title }}
          </a>
        </h2>
      </div>
    </header>
    {{ if .Params.featured_video }}
<video-lazy-loader data-videosrc="{{.Params.featured_video}}">
      <img
        src="{{ .Params.featured_image }}"
        alt="{{ .Params.featured_image_alt }}"
        loading="lazy"
      />
</video-lazy-loader>
    {{ else if .Params.featured_image }}
      <img
        src="{{ .Params.featured_image }}"
        alt="{{ .Params.featured_image_alt }}"
        loading="lazy"
      />
    {{ end }}
    {{ if eq .Params.type "event" }}
      <p>
        <time
          class="dt-start"
          datetime="{{ .Params.start | time.Format `2006-01-02 15:04` }}"
        ></time>
        <time
          class="dt-end"
          datetime="{{ .Params.end | time.Format `2006-01-02 15:04` }}"
        ></time>
        <strong>Date:</strong>
        {{ time .Params.start | time.In .Site.Params.TimeZone | time.Format `2006-01-02` }}
      </p>
      <p>
        <strong>Time:</strong>
        {{ time .Params.start | time.In .Site.Params.TimeZone | time.Format `15:04` }}
        -
        {{ time .Params.end | time.In .Site.Params.TimeZone | time.Format `15:04 MST` }}
      </p>
      <div class="p-location h-card">
        <span class="p-name p-org">
          {{ .Params.location.name }}
        </span>
        <p>
          <span class="p-street-address">
            {{ .Params.location.street_address }}
            {{ .Params.location.locality }}
            {{ .Params.location.region }}
            <abbr class="p-country-name" title="United States"
              >{{ .Params.location.country_name }}</abbr
            >
          </span>
          &mdash;
          <a
            target="_blank"
            rel="noopener nofollow"
            href="https://www.google.com/maps/search/?api=1&query=Iffy+Books"
            >View on Google Maps</a
          >
        </p>
      </div>
    {{ end }}
    <div class="e-content">
      {{ $summary := .Summary }}
      {{/* Shift heading levels down by one (h1->h2 ... h5->h6), high-to-low so shifts don't cascade */}}
      {{ $summary = replaceRE `<(/?)h5([ >])` `<${1}h6${2}` $summary }}
      {{ $summary = replaceRE `<(/?)h4([ >])` `<${1}h5${2}` $summary }}
      {{ $summary = replaceRE `<(/?)h3([ >])` `<${1}h4${2}` $summary }}
      {{ $summary = replaceRE `<(/?)h2([ >])` `<${1}h3${2}` $summary }}
      {{ $summary = replaceRE `<(/?)h1([ >])` `<${1}h2${2}` $summary }}
      {{ $summary | safeHTML }}
    </div>
    {{ if .Truncated }}
    <div class="readMore">
      <a class="button" href="{{ .RelPermalink }}">Continue reading</a>
    </div>
    {{ end }}
      <div>
      {{ if isset .Params "date" }}{{ partial "metadata.html" . }}{{ end }}
    </div>
    {{ partial "webmentions.html" . }}
  </article>
{{ end }}
